/*Universal*/
body {
  font-family: 'Montserrat', arial, sans-serif;
}

/*Navbar*/
.input-group input, .input-group button {
  border-radius: 25px;
}

.navbar-brand img {
  width: 140px;
}

.nav-link, .nav-link:hover, .nav-link:active {
  color: #3B7890 !important;
}

.nav-link {
	font-weight: 600;
}

.divider {
	display: block;
}

ul.overflow-x-hidden {
	height: 200px;
}

/*Footer*/
footer {
	background-color: #e3f2fd;
}

footer p {
	color: #256681;
}

/*Khusus Desktop*/
@media (min-width: 991px) {

	/*Navbar*/
	.input-group {
		width: 450px;
	}

	.divider {
		display: none;
	}

	.bag-logo {
	  margin-top: 6px;
	}

	.shift-main {
		margin-left: 300px;
		width: 1000px;
	}
}

/*Admin Panel*/
.shift-main thead th {
  text-align: center;
}

.shift-main th, .shift-main td {
	font-size: 12px;
}

/*sidebar*/
.sidebar .nav-item:hover {
	background-color: #ededed;
}

.sidebar {
	box-shadow: .125rem 0 .25rem rgba(0, 0, 0, .075);
	bottom: 0;
}