/*Universal*/
body {
	font-family: 'Montserrat', Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  /*Navbar*/
  .input-group input, .input-group button {
	border-radius: 25px;
  }
  
  .navbar-brand img {
	width: 140px;
  }
  
  .nav-link, .nav-link:hover, .nav-link:active {
	color: #3B7890 !important;
  }
  
  .nav-link {
	  font-weight: 600;
  }
  
  .divider {
	  display: block;
  }
  
  ul.overflow-x-hidden {
	  height: 200px;
  }
  
  /*Footer*/
  footer {
	background-color: #e3f2fd;
	margin-top: auto;
	padding: 20px;
  }
  
  footer p {
	color: #256681;
  }
  
  /*Admin Panel*/
  .shift-main thead th {
	text-align: center;
  }
  
  .shift-main th, .shift-main td {
	  font-size: 12px;
  }
  
  /*sidebar*/
  .sidebar .nav-item:hover {
	  background-color: #ededed;
  }
  
  .sidebar {
	  box-shadow: .125rem 0 .25rem rgba(0, 0, 0, .075);
	  bottom: 0;
  }
  
  /*Khusus Desktop*/
  @media (min-width: 991px) {
  
	  /*Navbar*/
	  .input-group {
		  width: 450px;
	  }
  
	  .divider {
		  display: none;
	  }
  
	  .bag-logo {
		margin-top: 6px;
	  }
  
	  /*Admin Panel*/
	  .shift-main {
		  margin-left: 300px;
		  width: 1000px;
	  }
  }
  
  /*Jumbotron*/
  .jumbotron {
	  background-color: #eaeaea;
	  height: 430px;
  }
  
  
  
  .jumbotron h1, .jumbotron p, .book-title {
	  font-family: "Raleway", "Verdana", sans-serif;
  }
  
  .jumbotron .lead {
	  font-size: 25px;
  }
  
  /*Content*/
  .jumbotron h1, .content h5, .more, .price, .login h1 {
	  font-weight: 900;
	  letter-spacing: 2px;
  }
  
  .content a {
	  text-decoration: none;
  }
  
  .jumbotron h1 {
	  font-size: 70px;
  }
  
  .writter {
	  margin-bottom: 5px;
	  font-size: 12px;
	  color: #6d6d6d;
  }
  
  .book-title {
	  margin: 5px 0;
  }
  
  /*Login*/
  html .login-page {
	justify-content: center;
	min-height: 41.56rem;
  }
  
  .login-page {
	  margin-top: -40px;
  }
  
  .login h1 {
	   color:  #237699;
  }
  
  .eye-button {
	  position: absolute;
	  cursor: pointer;
	  top: 5px;
	  right: 12px;
	  font-size: 20px;
  }
  
  /*Text Input*/
  .input-container{
	  position:relative;
	  margin-bottom:25px;
  }
  .input-container label{
	  position:absolute;
	  top:6px;
	  left:0px;
	  font-size:16px;
	  color:#000;	
	  pointer-events:none;
	  transition: all 0.2s ease-in-out;
  }
  .input-container input{ 
	  border:0;
	  border-bottom:1px solid #555;  
	  background:transparent;
	  width:100%;
	  padding:8px 0 5px 0;
	  font-size:16px;
	  color:#000;
	  }
  .input-container input:focus{ 
	  border:none;	
	  outline:none;
	  border-bottom:1px solid #2FA0D0;	
  }
  .input-container input:focus ~ label,
  .input-container input:valid ~ label{
	  top:-12px;
	  font-size:12px;
	  color: #2FA0D0;
  }