/*Universal*/
body {
  font-family: 'Montserrat', arial, sans-serif;
}

/*Navbar*/
.input-group input, .input-group button {
  border-radius: 25px;
}

.navbar-brand img {
  width: 140px;
}

.nav-link, .nav-link:hover, .nav-link:active {
  color: #3B7890 !important;
}

.nav-link {
	font-weight: 600;
}

.divider {
	display: block;
}

ul.overflow-x-hidden {
	height: 200px;
}

/*Footer*/
footer {
	background-color: #e3f2fd;
}

footer p {
	color: #256681;
}

/*Khusus Desktop*/
@media (min-width: 991px) {

	/*Navbar*/
	.input-group {
		width: 450px;
	}

	.divider {
		display: none;
	}

	.bag-logo {
	  margin-top: 6px;
	}
}

/*Admin Panel*/
.page-title h1 {
   color: #237699;
   font-weight: 700;
}

.show-table thead th {
  background-color:#86B7FE;
}